/.vs/TuringPatterns/v14/*.suo
/x64/Debug/*.dll
/x64/Debug/*.obj
/x64/Debug/*.idb
/x64/Debug/*.pdb
/x64/Debug
/Debug/TuringPatterns.tlog/*.tlog
/ipch/CUDAMANAGER-102da71a/*.ipch
*.tlog
Debug
*.pdb
FINITEDIFFERENCE-ffa2693e
/ipch/TURINGPATTERNS-d8439138
*.opendb
*.db
.idea
/results.csv
*.cache
/CudaKernels/x64/Release/*.deps
*.obj
*.log
*.pch
*.pyc
*.dll
*.exp
*.lib
*.iobj
*.ipdb
*.exe
cmake-build-*
